@media screen and (max-width: 576px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar li {
        display: none;
    }

    .hamburger_img {
        display: block;
    }

    .login_button {
        display: none;
    }

    .podcast {
        padding: 10px;
    }

    .podcast_counts {
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        align-items: center;
        justify-content: center;
    }

    .podcast_description {
        padding: 0;
    }

    .techwave {
        background-color: #230E3D;
    }

    .techwave_title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .techwave_boxes div {
        background-color: #351165;
    }

    .techwave_boxes {
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .techwave_title,
    .footer_icon,
    .host_section {
        flex-direction: column;
        text-align: center;
    }

    .techwave_boxes div {
        margin: 10px 0;
    }
    .feature {
        padding: 10px;
    }
    .feature_cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .host_image {
        margin: 0 auto;
    }

    footer .footer_content {
        padding: 20px;
    }

    .footer_icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }





}