/* shared style starts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter_font {
    font-family: "Inter", sans-serif;
}

.display_flex {
    display: flex;
}

.text_white {
    color: #fff;
}

.font_16 {
    font-size: 16px;
}

.text_title_big {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.text_description {
    font-size: 1rem;
    color: #fff;
}

.gradient_background {
    background-image: linear-gradient(#F7E93F, #FB09B4, #9100F8);
}

.gradient_text {
    background-image: linear-gradient(#9100F8, #FB09B4, #F7E93F);
    background-clip: text;
    color: transparent;
}


/* shared style ends */

/* header section starts */
header {
    background-color: #1A0B2E;

}
nav {
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

nav .nav_title {
    font-size: 2rem;
    color: #fff
}

.hamburger_img {
    display: none;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    margin-right: 32px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
}

.login_button {
    padding: 12px 16px;
    border-radius: 1000px;
}

.login_button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

/* header section ends */

/* banner section starts */
/* banner section ends */

/* podcast section starts */
.podcast {
    background-color: #1A0B2E;
}

.section_podcast {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.podcast_head {
    padding-top: 50px;
}

.podcast_description {
    font-size: 1rem;
    padding: 18px 230px;
    line-height: 20px;
}

.podcast_counts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
    max-width: 1200px;
    text-align: center;
}

.podcast_box_head {
    color: #00FF88;
    font-size: 3rem;
}

.podcast_box_description {
    color: #fff;
    font-size: 1rem;
}

/* podcast section ends */

/* TechWave section starts */
.techwave {
    background-color: #230E3D;
    padding: 10px;
}

.techwave_section {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.techwave_title {
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-bottom: 40px;
}

.techwave_boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.techwave_boxes div {
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    align-content: center;
}

.tech_box1 {
    grid-row: span 2;
}

.tech_box2,
.tech_box3 {
    grid-column: span 2;
}

.techbox_title {
    color: #fff;
    font-size: 24px;
    margin: 16px 0;
}

.techbox_description {
    font-size: 16px;
    color: #fff;
    opacity: 60%;
}

/* TechWave section ends */

/* feature section starts */
.feature {
    background-color: #1A0B2E;
    padding: 120px 10px;
}
.feature_section {
    max-width: 1200px;
    margin: 0 auto;
}
.feature_title {
    margin-top: 120px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
.feature_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
}

.features_card {
    background-color: #250D44;
    border-radius: 24px;
}
.features_card iframe {
    width: 100%;
    height: auto;
}
.features_card .card_title {
    font-size: 1.5rem;
    color: #fff;
    padding: 24px;
    padding-bottom: 12px;
}
.features_card .card_description {
    font-size: 1rem;
    color: #fff;
    opacity: 60%;
    padding: 12px 24px;
}
.features_card .card_duration {
    font-size: 16px;
    padding: 12px 24px;
    color: #00FF88;
    padding-bottom: 24px;
 }
.card_duration {
    align-items: center;
}
.card_duration .clock_img {
    margin-right: 6px;
}
.host_section {
    background-color: #351165;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 40px;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    padding: 40px;
}
.host_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 24px;
}
.host_title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 16px;
}
.host_description {
    font-size: 1rem;
    color: #fff;
    opacity: 60%;
}
.social_icons {
    margin-top: 16px;

}
.social_icons img {
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}

/* feature section ends */

/* footer section starts */
footer {
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
footer .footer_content {
    padding: 120px;
    margin: 0 auto;
    text-align: center;
}
footer .footer_icon {
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.footer_title {
    font-size: 4rem;
    color: #fff;
}
.footer_icon a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 24px;

}
.footer_icon img {
    margin-right: 10px;
}
.copyright_text {
    font-size: 1rem;
    color: #FAFAFA;
    opacity: 60%;
}
/* footer section ends */